/* Global Styles */

body {
  font-family: 'Roboto Condensed', sans-serif;

  height:100%;
  margin: 0;


  background-color: #263238;
  background-image: url(../img/legacy.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  color: #ECEFF1;
}

div.center {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

mark {
  background-color: transparent;
}

/* Needs */

.hide {
  visibility: hidden;
}

mark.resp {
  color: #D50000;
}

/* Typewriter */

.typewriter {
    letter-spacing: .15em;
    white-space: nowrap;

    overflow: hidden;
    margin: 0 auto;


    animation:
      typing 5.5s steps(108, end);
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Terminal */

.terminal {
    height: 40px;
    text-align: left !important;
    background-color: #232E33;
}

#client {
    width: 100%;
    height: 100%;
    margin-left: 10px;

    display: table-cell;
    vertical-align: middle;

    border: none;
    overflow: auto;
    outline: none;
    resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    line-height: 250%;

    background-color: #232E33;
    color: #ECEFF1;
}
